<% if user_signed_in? %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= @user_full_name.truncate(15) %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><%= link_to "New post", new_post_path, class:"dropdown-item" %></li>
      <li><%= link_to "Categories", categories_path, class:"dropdown-item" if policy(:category).index? %></li>
      <li><%= link_to "Edit User", edit_user_registration_path, class:"dropdown-item" %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete},
                                                                    class:"dropdown-item" %></li>
    </ul>
  </div>
<% else %>
  <%= link_to "Sign in", new_user_session_path, class:"btn btn-outline-secondary me-2" %>
  <%= link_to "Sign up", new_user_registration_path, class:"btn btn-secondary" %>
<% end %>