<div class="container-fluid col-12 vh-100 mb-4">
  <article class="blog-post border-bottom mt-4">
    <h2 class="display-6 link-body-emphasis mb-1 fst-italic merriweather text-center"><%= @post.title %></h2>
    <p class="blog-post-meta text-center"><%= format_date(@post.created_at) %> by <%= truncate(full_name(@post.user), length: 15) %></p>

    <p class="pt_serif">
      <%= @post.body %>
    </p>
  </article>

  <div class="text-center mt-3 mb-2">
    <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-secondary mr-4" if policy(@post).update? %>
    <%= link_to "Destroy this post", @post, data:{
                                                  turbo_method: :delete,
                                                  turbo_confirm: "Are you sure?"
                                                  }, class:"btn btn-danger" if policy(@post).destroy? %>
  </div>

  <div class="text-center mb-4">
    <%= link_to "Back to posts", root_path, class:"btn btn-link" %>
  </div>
</div>
